<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle.MacAppStore</string>
		<string>138.17.3</string>
	</array>
	<key>CreationDate</key>
	<string>2011-05-10 05:59:24 -0700</string>
	<key>Creator</key>
	<string>Anil Madhavapeddy</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>19</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image18.png</string>
		<string>image16.png</string>
		<string>image14.png</string>
		<string>image13.png</string>
		<string>image12.png</string>
		<string>image11.png</string>
		<string>image10.png</string>
		<string>image9.png</string>
		<string>image8.png</string>
		<string>image7.png</string>
		<string>image6.png</string>
		<string>image5.png</string>
		<string>image4.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-05-16 11:20:55 -0700</string>
	<key>Modifier</key>
	<string>Anil Madhavapeddy</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.29, 841.89}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.29, 782.89}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{155.473, 426.38}, {59.8979, 59.8979}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>38</integer>
					<key>ImageID</key>
					<integer>5</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{85.5655, 432.508}, {47.6426, 47.6426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>36</integer>
					<key>ImageID</key>
					<integer>12</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>21</integer>
					<key>Points</key>
					<array>
						<string>{339.073, 136}</string>
						<string>{339.073, 565}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>HeadArrow</key>
							<string>NegativeControls</string>
							<key>HeadScale</key>
							<real>0.70000004768371582</real>
							<key>Join</key>
							<integer>2</integer>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledBall</string>
							<key>TailScale</key>
							<real>0.5</real>
							<key>Width</key>
							<real>10</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{128.509, 280.258}, {69.1141, 69.114}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17</integer>
					<key>ImageID</key>
					<integer>14</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{464.816, 273.985}, {60.7975, 60.7975}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{464.816, 356.693}, {62.9821, 60.7975}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>15</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{463.775, 451.948}, {60.7975, 60.7975}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>14</integer>
					<key>ImageID</key>
					<integer>7</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{162.925, 503.073}, {52.4458, 52.4458}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>13</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{162.925, 363.706}, {52.4458, 52.4458}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>11</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{443.137, 150}, {102.073, 102.073}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>9</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{76.3666, 235.094}, {52.1423, 52.1423}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{69.1131, 287.236}, {46.6384, 46.6384}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{85.5655, 145}, {102.073, 100.548}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>ImageID</key>
					<integer>11</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{145.793, 235.094}, {58.2256, 58.2256}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>13</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{84.886, 359.6}, {56.552, 56.552}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{31.1428, 222.425}, {204.866, 136.577}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>19</integer>
					<key>Shape</key>
					<string>Cloud</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.902174</string>
								<key>g</key>
								<string>0.902174</string>
								<key>r</key>
								<string>0.857622</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.875</string>
								<key>g</key>
								<string>0.864678</string>
								<key>r</key>
								<string>0.701823</string>
							</dict>
							<key>Width</key>
							<real>6</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{335.191, 465.031}, {109.682, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34</integer>
					<key>Rotation</key>
					<real>359.82867431640625</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.571284</string>
								<key>g</key>
								<string>0.721699</string>
								<key>r</key>
								<string>0.869565</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Commerce}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{335.191, 378.606}, {114.814, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>32</integer>
					<key>Rotation</key>
					<real>359.82867431640625</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.571284</string>
								<key>g</key>
								<string>0.721699</string>
								<key>r</key>
								<string>0.869565</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Data-mining}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{335.146, 285.792}, {69.1141, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>31</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.571284</string>
								<key>g</key>
								<string>0.721699</string>
								<key>r</key>
								<string>0.869565</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Social}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{339.073, 193.137}, {82.073, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>29</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.571284</string>
								<key>g</key>
								<string>0.721699</string>
								<key>r</key>
								<string>0.869565</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs36 \cf0 Public}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{233.126, 372.621}, {106.947, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>33</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.614388</string>
								<key>g</key>
								<string>0.869565</string>
								<key>r</key>
								<string>0.679795</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Identity}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{258, 239.464}, {82.073, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>26</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.614388</string>
								<key>g</key>
								<string>0.869565</string>
								<key>r</key>
								<string>0.679795</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Devices}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{238, 170.316}, {102.073, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>27</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.614388</string>
								<key>g</key>
								<string>0.869565</string>
								<key>r</key>
								<string>0.679795</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs36 \cf0 Personal}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{258, 514.296}, {82.073, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>60</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.614388</string>
								<key>g</key>
								<string>0.869565</string>
								<key>r</key>
								<string>0.679795</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Memory}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{232.126, 441.329}, {106.947, 30}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>59</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.614388</string>
								<key>g</key>
								<string>0.869565</string>
								<key>r</key>
								<string>0.679795</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0438944</string>
								<key>g</key>
								<string>0.0469727</string>
								<key>r</key>
								<string>0.0869565</string>
							</dict>
							<key>CornerRadius</key>
							<real>10</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs32 \cf0 Services}</string>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.29, 782.89}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>fill</key>
					<dict>
						<key>GradientColor</key>
						<dict>
							<key>w</key>
							<string>0.666667</string>
						</dict>
					</dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{115.28, 630.138}, {87.2119, 87.2119}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{233.138, 624.565}, {54.7449, 56.3334}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>14</integer>
					<key>ImageID</key>
					<integer>7</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{206.117, 424.166}, {82.6581, 82.658}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17</integer>
					<key>ImageID</key>
					<integer>14</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{143.756, 370.152}, {62.3604, 62.3604}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{135.081, 432.512}, {55.7779, 55.778}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{226.788, 370.152}, {69.6358, 69.6359}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>27</integer>
					<key>ImageID</key>
					<integer>13</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{89.6702, 355}, {245.013, 163.342}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>19</integer>
					<key>Shape</key>
					<string>Cloud</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.902174</string>
								<key>g</key>
								<string>0.902174</string>
								<key>r</key>
								<string>0.857622</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.875</string>
								<key>g</key>
								<string>0.864678</string>
								<key>r</key>
								<string>0.701823</string>
							</dict>
							<key>Width</key>
							<real>6</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{190.577, 142.513}, {68.6096, 68.6096}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{142.353, 83.5331}, {154.071, 154.071}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>16</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{186.646, 593.822}, {129.379, 129.38}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>30</integer>
					<key>ImageID</key>
					<integer>18</integer>
					<key>Rotation</key>
					<real>36.999996185302734</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.29, 782.89}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>fill</key>
					<dict>
						<key>GradientColor</key>
						<dict>
							<key>w</key>
							<string>0.666667</string>
						</dict>
					</dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 3</string>
			<key>UniqueID</key>
			<integer>3</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>1</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{72, 67}, {771, 711}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-38, 181}, {637, 602}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 3</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
