<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
    <link rel="alternate" type="application/rss+xml" href="/feeds/rss.xml" title="Personal Containers">
    <link rel="alternate" type="application/atom+xml" href="/feeds/atom.xml" title="Personal Containers">
  </head>

  <body id="{{ page.section }}">
    <div id="wrap">
      <div id="header">
        <div id="navigation">
          <ul>
            <li><a class="home" href="/">Home</a></li>
            <li><a class="overview" href="/overview/">Overview</a></li>
            <li><a class="blog" href="/blog/">Blog</a></li>
            <li><a class="docs" href="/docs/">Documentation</a></li>
            <li><a class="people" href="/people/">People</a></li>
          </ul>
        </div>
        <div id="logo">
          <a href="/">Personal Containers</a>
        </div>
        <div id="slogan">
          <a href="/">Exploiting your lifelong personal digital footprint</a>
        </div>
      </div>
      
      <div id="main">
        {{ content }}
      </div>

      <div id="footer">
        <p>
          Copyright &copy; 2010-2011 Anil Madhavapeddy, Richard
          Mortier. <br>
          Funded by the <a href="http://www.horizon.ac.uk">Horizon Digital
          Economy Research Institute</a>. Icons by <a href="http://dryicons.com/">DryIcons</a>.
        </p>
      </div>
    </div>

    {% for script in page.js %}
	<script src="/js/{{ script }}.js"></script>
    {% endfor %}

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15534567-1");
      pageTracker._trackPageview();
    } catch(err) {}
    </script>

  </body>
</html>
