---
layout: base
---

<div id="left-column">
  {{ content }}
</div>

<div id="right-column">
  <div id="sidebar">
    <ul>
      <li>
        <h1>Subscribe</h1>
        <ul>
          <li class="rss">
            <a href="/feeds/{{ page.section }}/atom.xml">
              <img src="/images/rss.png" alt="Atom Feed" name="rsssubscribe" 
                   width="32" height="32" border="0" align="middle" id="rsssubscribe"/>
              Subscribe by Atom
            </a>
          </li>
          <li class="rss">
            <a href="/feeds/{{ page.section }}/rss.xml">
              <img src="/images/rss.png" alt="RSS Feed" name="rsssubscribe" 
                   width="32" height="32" border="0" align="middle" id="rsssubscribe"/>
              Subscribe by RSS
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
