---
layout: default
---
<article>
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  </header>
  {{ content }}
  <br />
  <em>Posted on {{ page.date | date_to_long_string }} by {{ page.author | xml_escape }}.</em>
</article>

<!-- how is this supposed to work with multiple post categories?!
<nav class="articles-nav">
  <p>
    {% if post.previous %}
    <span class="nav-previous">&larr; 
      <a href="{{ post.previous.url }}" rel="prev" title="{{ post.previous.title }}" accesskey="p">
        prev
      </a>
    </span>
    {% endif %}

    {% if post.previous and post.next %}
    <span class="pipe">|</span>
    {% endif %}

    {% if post.next %}
    <span class="nav-next">
      <a href="{{ post.next.url }}" rel="succ" title="{{ post.next.title }}" accesskey="n">
        succ
      </a> &rarr;
    </span>
    {% endif %}
  </p>
</nav>
-->
