---
layout: default
---
<article>
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  </header>
  {{ content }}
  <br />
  <em>Posted on {{ page.date | date_to_long_string }} by {{ page.author | xml_escape }}.</em>
</article>

<div id="comments">
  <a href="{{ page.url }}#disqus_thread">View Comments</a>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'perscon';
    var disqus_url = '{{ page.url }}';
    var disqus_identifier = '{{ page.id }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); 
        dsq.type = 'text/javascript'; 
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the 
    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by 
    <span class="logo-disqus">Disqus</span></a>
</div>

<!-- how is this supposed to work with multiple post categories?!
<nav class="articles-nav">
  <p>
    {% if post.previous %}
    <span class="nav-previous">&larr; 
      <a href="{{ post.previous.url }}" rel="prev" title="{{ post.previous.title }}" accesskey="p">
        prev
      </a>
    </span>
    {% endif %}

    {% if post.previous and post.next %}
    <span class="pipe">|</span>
    {% endif %}

    {% if post.next %}
    <span class="nav-next">
      <a href="{{ post.next.url }}" rel="succ" title="{{ post.next.title }}" accesskey="n">
        succ
      </a> &rarr;
    </span>
    {% endif %}
  </p>
</nav>
-->
